.fast-and-easy {
    color: yellow;
}

.parallelogram {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 600px;
  background: #e0d7eb;
  transform: skewX(-30deg);
  z-index: 0;
}

  
.parallelogram-car {
  position: absolute;
  top: 105px;
  right: 90px;
  z-index: 2;
}