.modal-overlay {
    position: fixed; /* Зафиксируем на экране */
    top: 0;
    left: 0;
    width: 100vw; /* Покрывает всю ширину экрана */
    height: 100vh; /* Покрывает всю высоту экрана */
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    display: flex; /* Для центровки по горизонтали и вертикали */
    justify-content: center; /* Центровка по горизонтали */
    align-items: center; /* Центровка по вертикали */
    z-index: 1000; /* Убедимся, что оно поверх всех элементов */
  }
  
  .modal-content {
    display: flex;         /* Включаем Flexbox */
    flex-direction: column; /* Располагаем элементы по вертикали */
    align-items: flex-end;  /* Выравниваем элементы по горизонтали к правому краю */
    background: #fff; /* Белый фон для модального окна */
    padding: 20px; /* Отступы внутри окна */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для красоты */
    width: 100%;
    max-width: 400px; /* Ограничиваем ширину модального окна */
    position: relative; /* Для позиции кнопки закрытия */
    z-index: 1001;
  }

  .close-btn {
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.5s;
  }
  
  
  .close-btn:hover {
    background-color: #333; /* Цвет при наведении */
    color: white;
    transition: 0.5s;
  }
  
  
  .modal-buttons-area {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .modal-buttons-auth {
    padding: 5px;
    border: 1px solid black;
    width: 50%;
  }


  .visible-window {
    display: block;
  }

  .hidden-window {
    display: none;
  }