@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('../styles/cars/carCard.css');
@import url('../styles/cars/carList.css');
@import url('../styles/cars/carPage.css');
@import url('../styles/header/header.css');
@import url('../styles/footer/footer.css');
@import url('../styles/main/main.css');
@import url('../styles/auth/login.css');


* {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  z-index: 2;
}
html,
body {
  color: white;
  background: #0E0C15;
  height: 2000px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body article {
  flex-grow: 1;
}
