@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../styles/auth/modal.css');
@import url('../styles/cars/carCard.css');
@import url('../styles/cars/carList.css');
@import url('../styles/cars/carPage.css');
@import url('../styles/header/header.css');
@import url('../styles/footer/footer.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,700;1,700&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}
html,
body {
  height: 100%;
  color: black;
  background: #0E0C15;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: none;
}
.content {
  flex: 1 0 auto;
}
