:root {
    --caption-caption-font-family: "Sora", Helvetica;
    --caption-caption-font-size: 14px;
    --caption-caption-font-style: normal;
    --caption-caption-font-weight: 400;
    --caption-caption-letter-spacing: 0px;
    --caption-caption-line-height: 20px;
    --neutral-015: rgba(255, 255, 255, 0.1);
  }
  