.header-nav a {
    background-color: transparent; /* Прозрачный фон для всех кнопок */
    color: #fff; /* Белый текст */
    border: none; /* Убираем стандартную рамку */
    border-bottom: 3px solid transparent; /* Прозрачная нижняя граница */
    padding: 0.5rem 1rem;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
  }
  
  .header-nav a:hover {
    color: #ff4d4d; /* Ярко-красный текст при наведении */
    border-bottom-color: #ff4d4d; /* Ярко-красная нижняя граница при наведении */
  }
  
  .header-nav a[aria-current="page"] {
    color: #ff0000; /* Ярко-красный текст для активной ссылки */
    border-bottom-color: #ff0000; /* Ярко-красная нижняя граница для активной ссылки */
  }
  
  .login-button {
    background-color: transparent; /* Прозрачный фон */
    color: #fff; /* Белый текст */
    border: none;
    border-bottom: 3px solid #ff0000; /* Красная нижняя граница */
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
  }
  
  .login-button:hover {
    color: #ff4d4d; /* Ярко-красный текст при наведении */
    border-bottom-color: #d40000; /* Темно-красная нижняя граница при наведении */
  }
  
  .menu-button,
  .disclosure-button {
    background-color: transparent; /* Прозрачный фон */
    color: #fff; /* Белый текст */
    border: none;
    border-bottom: 3px solid transparent; /* Прозрачная нижняя граница */
    padding: 0.5rem;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
  }
  
  .menu-button:hover,
  .disclosure-button:hover {
    color: #ff4d4d; /* Ярко-красный текст при наведении */
    border-bottom-color: #ff4d4d; /* Красная нижняя граница при наведении */
  }
  
  .header-title {
    color: white;
  }