/* styles.css */
.header-nav {
  position: relative;
  background-color: rgba(14, 12, 21, 0.5);
  backdrop-filter: blur(10px);
  width: 1000px;
  margin: 15px auto;
  padding: 5px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 2;
}

.container {
  max-width: 7xl;
  margin: 0 auto;
  padding: 0 16px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  user-select: none; /* Отключает выделение текста */
  -webkit-user-select: none; /* Для браузеров на движке WebKit */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для старых версий IE */
  cursor: default; /* Устанавливает курсор по умолчанию */
}

.logo-text {
  font-family: var(--font-sourceCodePro);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem; /* Размер шрифта */
  font-weight: 600; /* Вес шрифта */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

.logo img {
  pointer-events: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-list {
  display: flex;
  gap: 16px;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 8px;
  font-family: var(--font-sourceCodePro);
  font-optical-sizing: auto;
  font-style: normal;
}

.nav-link.active {
  background-color: #172136;
  color: #ffffff;
}

.nav-link.inactive {
  color: #d1d5db;
}

.nav-link.inactive:hover {
  background-color: #374151;
  color: #ffffff;
}

.login-button {
  background-color: #CAD1E9;
  color: #1A237E;
  font-family: var(--font-sourceCodePro);
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  padding: 10px 20px;
  border-radius: 12px;
}

.user-actions {
  display: flex;
  gap: 16px;
}

.notification-button {
  background-color: #1f2937;
  padding: 8px;
  border-radius: 50%;
  color: #9ca3af;
}

.notification-button:hover {
  color: #ffffff;
}

.bell-icon {
  width: 24px;
  height: 24px;
}

.user-menu {
  position: relative;
}

.user-menu-button {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #1f2937;
  border-radius: 50%;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user-menu-items {
  position: absolute;
  right: 0;
  z-index: 10;
  top: 100%;
  width: 12rem;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.user-menu-link {
  padding: 8px 16px;
  display: block;
  color: #000000;
  font-size: 0.875rem;
}

.user-menu-link:hover {
  background-color: #f3f4f6;
}

.mobile-menu-toggle {
  display: flex;
  align-items: center;
}

.mobile-menu-button {
  padding: 8px;
  background-color: #1f2937;
  border-radius: 50%;
  color: #9ca3af;
}

.mobile-menu-icon,
.mobile-menu-close-icon {
  width: 24px;
  height: 24px;
}

.mobile-nav {
  display: block;
  background-color: #1f2937;
}

.mobile-nav-list {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mobile-nav-link {
  color: #d1d5db;
  padding: 12px;
  font-size: 1rem;
  text-align: left;
}

.mobile-nav-link.active {
  background-color: #111827;
  color: #ffffff;
}

.mobile-nav-link.inactive:hover {
  background-color: #374151;
  color: #ffffff;
}
